<div id="features">
    <div id="first-feature" class="card card-width feature-card-left border-0 custom-margin">
        <div class="row gx-0">
            <div class="col-md-3 mx-3">
                <%= image_tag "mind.png", id:"mind-image", class:"col-4 col-md-12" %>
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3">
                    <h5 class="card-title fs-2 title-color-left">Have a tweet in mind?</h5>
                    <div class="card-text description-text mt-4">
                        <p>
                            <i class="bi bi-arrow-return-right mx-2"></i>
                            A powerful quote from a movie just striked your mind?
                        </p>
                        <p>
                            <i class="bi bi-arrow-return-right mx-2"></i>
                            Some huge idea that could make an impact?
                        </p>
                        <p>
                            <i class="bi bi-arrow-right mx-2"></i>
                            Don't let it slip away! Write it down before you forget it!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="second-feature-right" class="d-none d-md-flex card card-width feature-card-right border-0 custom-margin ms-auto">
        <div class="row gx-0">
            <div class="col-md-8 ms-auto">
                <div class="card-body mt-3 text-end">
                    <h5 class="card-title fs-2 text-end title-color-right ms-auto">Tired of watching the clock?</h5>
                    <div class="card-text description-text mt-4">
                        <p>
                            Now you can stop staring at it!
                            <i class="bi bi-arrow-return-left mx-2"></i>
                        </p>
                        <p>
                            You can set the time to post your tweet, without time limit!
                            <i class="bi bi-arrow-left mx-2"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-3">
                <%= image_tag "clock.png", id:"clock-image", class:"col-4 col-md-12" %>
            </div>
        </div>
    </div>

    <div id="second-feature-left" class="d-md-none card card-width feature-card-left border-0 custom-margin ms-auto">
        <div class="row gx-0">
            <div class="col-md-3 mx-3">
                <%= image_tag "clock-mirror.png", id:"clock-image", class:"col-4 col-md-12" %>
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3">
                    <h5 class="card-title fs-2 title-color-left">Tired of watching the clock?</h5>
                    <div class="card-text description-text mt-4">
                        <p>
                            <i class="bi bi-arrow-return-right mx-2"></i>
                            Now you can stop staring at it!                                
                        </p>
                        <p>
                            <i class="bi bi-arrow-right mx-2"></i>
                            You can set the time to post your tweet, without time limit!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="third-feature" class="card card-width feature-card-left border-0 custom-margin">
        <div class="row gx-0">
            <div class="col-md-3 mx-3">
                <%= image_tag "tweet.png", id:"mind-image", class:"col-4 col-md-12" %>
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3">
                    <h5 class="card-title fs-2 title-color-left">Watch your tweets getting posted!</h5>
                    <div class="card-text description-text mt-4">
                        <p>
                            <i class="bi bi-arrow-return-right mx-2"></i>
                            Just sit down, chill and see the results of your long tactically planned tweets...
                        </p>
                        <p class="fw-bold fst-italic text-end">
                            ...completely by themselves!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>