<div class="container my-5">
    <div class="home-margin my-5">
        <h1 class="text-center">
            Welcome to Scheduled Tweets ! 
            <i id="twitterIcon" class="bi bi-twitter"><i class="bi bi-pencil fs-3"></i></i>
        </h1>
    </div>
    <div class="home-margin d-block my-5 text-center">
        <div class="">
            <%= image_tag "mind.png", class:"col-2 d-inline-block" %>
            <div class="d-inline-block ms-5 my-auto">
                <h2 class="">You have a tweet in mind?</h2>
                <p class="">Write it down!</p>
            </div>
        </div>
        <div class="my-5">
            <div class="d-inline-block me-5">
                <h2 class="">Tired of watching the clock?</h2>
                <p class="">Just set the time to post it!</p>
            </div>
            <%= image_tag "clock.png", class:"d-inline-block col-2" %>
        </div>
        <div class="">
            <%= image_tag "tweet.png", id:"postImage", class:"d-inline-block col-2" %>
            <div class="d-inline-block ms-5">
                <h2 class="">Watch your tweets posting!</h2>
                <p class="">Completely  by themselves!</p>
            </div>
        </div>
    </div>
    <div class="home-margin text-center mx-auto mt-5 pb-5">
        <div>
            <h2 class="mb-0">Just sign up to start !</h2>
        </div>
        <div class="my-3">
            <i class="bi bi-arrow-down fs-1"></i>
        </div>
        <div>
            <%= link_to "Create Account", sign_up_path, id:"createButton", class:"btn btn-primary" %>
        </div>
    </div>
</div>