<div class="container my-5">
    <div class="row my-5">
        <h1 class="text-center">
            Welcome to Scheduled Tweets ! 
            <i id="twitterIcon" class="bi bi-twitter"><i class="bi bi-pencil fs-3"></i></i>
        </h1>
    </div>
    <div class="row my-5">
        <div class="row text-center">
            <div class="col-2 mx-auto">
                <%= image_tag "mind.png", class:"img-fluid" %>
                <h2 class="my-3">You have a tweet in mind?</h2>
                <p class="">Write it down!</p>
            </div>
            <div class="col-2 mx-auto">
                <%= image_tag "clock.png", class:"img-fluid" %>
                <h2 class="my-3">Tired of watching the clock?</h2>
                <p class="">Just set the time to post it!</p>
            </div>
            <div class="col-2 mx-auto">
                <%= image_tag "tweet.png", id:"postImage", class:"img-fluid" %>
                <h2 class="my-3">Watch your tweets posting!</h2>
                <p class="">Completely  by themselves!</p>
            </div>
        </div>
    </div>
    <div class="row text-center mx-auto mt-5 pb-5">
        <div>
            <h2 class="mb-0">Just sign up to start !</h2>
        </div>
        <div class="my-3">
            <i class="bi bi-arrow-down fs-1"></i>
        </div>
        <div>
            <%= link_to "Create Account", sign_up_path, id:"createButton", class:"btn btn-primary" %>
        </div>
    </div>
</div>