<div class="container d-block mt-5 px-0">
    <div class="container text-center">
        <div class="row">
            <h1 class="col-lg-12 mb-5">
                Scheduled Tweets
            </h1>
        </div>
        <div class="row justify-content-center">
            <i class="col-2 homeIconSize bi bi-twitter"></i>
            <i class="col-2 homeIconSize bi bi-pencil"></i>
        </div>
    </div>

    <hr class="homeRule mt-5">

    <div id="features" class="d-flex flex-column w-auto customMargin">

        <div id="outerFeature" class="d-flex row row-cols-1 row-cols-lg-2 my-5">
            <%= image_tag "mind.png", id:"mindImage", class:"col-3 col-lg-2" %>
            <div class="col-12 col-lg-7 align-self-center text-start ms-4">
                <h2 class="featureTitle lh-lg">Have a tweet in mind?</h2>
                <p class="featureText lh-sm ms-3">
                    <i class="bi bi-arrow-return-right mx-2"></i>
                    A powerful quote from a movie just striked your mind?
                </p>
                <p class="featureText lh-sm ms-3">
                    <i class="bi bi-arrow-return-right mx-2"></i>
                    Some huge idea that could make an impact?
                </p>
                <p class="featureText lh-sm ms-3">
                    <i class="bi bi-arrow-right mx-2"></i>
                    Don't let it slip away! Write it down before you forget it.
                </p>
            </div>
        </div>

        <div id="innerFeature" class="d-flex justify-content-end">
            <div class="d-flex flex-lg-row-reverse row row-cols-1 row-cols-lg-2">
                <%= image_tag "clock.png", id:"clockImage", class:"col-3 col-lg-2" %>
                <div class="col-12 col-lg-7 align-self-center text-start">
                    <h2 class="featureTitle lh-lg">Tired of watching the clock to post it?</h2>
                    <p class="featureText lh-sm ms-3">
                        <i class="bi bi-arrow-return-right mx-2"></i>
                        Now you can stop staring at it!
                    </p>
                    <p class="featureText lh-sm ms-3">
                        <i class="bi bi-arrow-right mx-2"></i>
                        You can set the time to post your tweet, without time limit!
                    </p>
                </div>
            </div>
        </div>

        <div id="outerFeature" class="d-flex row row-cols-1 row-cols-lg-2 my-5">
            <%= image_tag "tweet.png", id:"tweetImage", class:"col-3 col-lg-2" %>
            <div class="col-11 col-lg-7 align-self-center text-start ms-4">
                <h2 class="featureTitle lh-lg">Watch your tweets getting posted!</h2>
                <p class="featureText lh-sm ms-3">
                    <i class="bi bi-arrow-return-right mx-2"></i>
                    Just sit down, chill and see the results of your long tactically planned tweets...
                </p>
                <p class="lh-lg text-end fw-bold fst-italic">...completely by themselves!</p>
            </div>
        </div>
    </div>

    <hr class="homeRule">

    <div class="text-center my-5">
        <div class="mb-0">
            <h2>Ready to use it?</h2>
            <h2>Just sign up to start!</h2>
        </div>
        <div class="my-3">
            <i class="bi bi-arrow-down fs-1"></i>
        </div>
        <div>
            <%= link_to "Create an Account", sign_up_path, id:"createButton", class:"btn btn-primary buttonHover w-auto" %>
        </div>
    </div>
</div>