<div class="container d-block mt-5 px-0">
    <div class="container text-center">
        <div class="row">
            <h1 class="col-lg-12 mb-5">Scheduled Tweets!</h1>
        </div>
        <div class="row justify-content-center">
            <i class="col-2 home-icon bi bi-twitter pe-0"></i>
            <i class="col-2 home-icon bi bi-pencil ps-0"></i>
        </div>
    </div>

    <%= render "feature" %>

    <div class="text-center my-5">
        <div class="mb-0">
            <h2>Ready to use it?</h2>
            <h2>Just sign up to start!</h2>
        </div>
        <div class="my-3">
            <i class="bi bi-arrow-down fs-1"></i>
        </div>
        <div>
            <%= link_to "Create an Account", sign_up_path, class:"btn btn-lg btn-primary button-hover w-auto" %>
        </div>
    </div>
</div>