<div class="text-center">
    <h1>Welcome to Scheduled Tweets</h1>
    
    <%= button_to "Connect Twitter", "/auth/twitter", data: {turbo: "false"}, method: :post, class:"mt-5 btn btn-primary" %>
</div>