<div class="text-center">
    <h1>
        Welcome to Scheduled Tweets ! 
        <i id="twitterIcon" class="bi bi-twitter"><i class="bi bi-pencil fs-3"></i></i>
    </h1>
    
    <%= button_to "Connect Twitter", "/auth/twitter", data: {turbo: "false"}, method: :post, class:"mt-5 btn btn-primary" %>
</div>