<div class="container">
    <div class="d-flex justify-content-between align-items-center py-3">
        <h1 class="border-bottom border-2 border-opacity-25 border-primary fst-italic me-3">
            Tweets
            <i id="twitterIcon" class="bi bi-twitter"><i class="bi bi-pencil fs-3"></i></i>
        </h1>
    
        <% if Current.user.twitter_accounts.any? %>
            <%= link_to "Schedule a tweet", new_tweet_path, class: "btn btn-primary" %>
        <% end %>
    </div>
    
    <% if Current.user.twitter_accounts.none? %>
        <%= button_to "Connect Twitter", "/auth/twitter", data: {turbo: "false"}, method: :post, class:"btn btn-primary mt-5" %>
    <% end %>
    
    <%= render @tweets %>
</div>