<div class="container">
    <div class="d-flex justify-content-between align-items-center py-3">
        <h1 class="border-bottom border-2 border-opacity-25 border-primary fst-italic me-3">
            Tweets
            <i class="bi bi-twitter"></i>
        </h1>
    
        <% if Current.user.twitter_accounts.any? %>
            <%= link_to "Schedule a tweet", new_tweet_path, class: "btn btn-primary customHover" %>
        <% end %>
    </div>
    
    <% if Current.user.twitter_accounts.none? %>
        <%= button_to "Connect Twitter", "/auth/twitter", data: {turbo: "false"}, method: :post, class:"btn btn-primary customHover mt-5" %>
    <% end %>
    
    <div class="tweetsContainer">
        <%= render @tweets %>
    </div>
</div>