<div id="darkButton" class="d-inline">
    <button type="button" class="btn btn-circle btn-sm" onClick="themeToggle()">
        <i class="bi bi-lightbulb"></i>
    </button>
</div>

<div class="darkSwitch">
    <!-- Dark Mode Switch: -->
    <input class="switch-input" type="checkbox" id="darkSwitch" onChange="themeToggle()">
    <label class="switch-label" for="darkSwitch">
        <i class="bi bi-moon"></i>
        <i class="bi bi-sun"></i>
        <div id="ball" class='ball'></div>
    </label>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/custom/themeToggle-f87be33f95eadad2cac511ad613ca44778b99d72e018d20f67492043a567f9b8.js"></script>
</div>