<footer class="footer border-top border-dark border-1">
    <div class="navbar navbar-fixed-bottom">
        <div class="container d-flex justify-content-center">
            <p id="footerText" class="navbar-text my-auto text-white">Made by Emanuel Rodriguez Bedeman ©</p>
        </div>
    </div>
</footer>