<footer class="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="container d-flex justify-content-center">
            <p class="navbar-text my-auto">Made by Emanuel Rodriguez Bedeman</p>
        </div>
    </div>
</footer>