<div class="container">
    <div>
        <h1>Introduction:</h1>
        <p>
            This is a project made by me Rodriguez Bedeman Emanuel as a proof of my knowledge in Ruby On Rails and Docker.
        </p>
        <p>On this project, you can create an account, link as many twitter accounts as you want to it and schedule tweets to be posted when ever you want on any of your linked twitter accounts.</p>
        <p>It also has a Dark mode made with Stimulus Javascript Framework</p>
    </div>

    <hr class="my-5">

    <div>
        <h1>How to use the app:</h1>
        <ol>
            <li>
                <p><a class="custom-anchor" href="/sign-up">Create</a> your account.</p>
            </li>
            <li>
                <p><a class="custom-anchor" href="/log-in">Log</a> into it.</>
            </li>
            <li>
                <p>
                    Go to <a class="custom-anchor" href="/twitter_accounts">Twitter accounts</a> and link as many twitter accounts as you want, to the account created on this site, 
                    by clicking on <button class="btn btn-primary button-hover">Add account</button>
                </p>
                <p class="opacity-75"><u>Disclaimer</u>: I won't store or be able to access any of your twitter information. All this is handled by Twitter API, and it's tokens.</p>
            </li>
            <li>
                <p>To schedule a tweet, click on <a class="custom-anchor" href="/tweets">Tweets</a> on the upper left part of the site.</p>
            </li>
            <li>
                <p>Click on <button class="btn btn-primary button-hover">Schedule a tweet</button></p>
            </li>
            <li>
                <p>Enter the content of your tweet, select the account you want to use and select the publish data.</p>
            </li>
            <li>
                <p>Once you're done, click on <button button class="btn btn-primary button-hover">Schedule</button></p>
            </li>
            <li>
                <p>When the time has come, your tweet will be published!</p>
            </li>
        </ol>
    </div>

    <hr class="my-5">

    <div class="">
        <h1 class="text-center text-decoration-underline">Tweets states:</h1>
        <div class="my-5 py-5">
            <h2 class="fst-italic">Scheduled</h2>
            <div class="d-none d-md-block">
                <%= image_tag "tweet scheduled lg.png" %>
            </div>
            <div class="d-md-none">
                <%= image_tag "tweet scheduled sm.png", class:"col-12" %>
            </div>
            <div class="my-3">
                <ul class="text-start">
                    <li>
                        <span class="fw-bold">@TweeterID</span> → Shows you the it's tweeter profile.
                    </li>
                    <li>
                        <i class="bi bi-pencil bg-white"> edit </i> → To edit the Tweet before posting.
                    </li>
                    <li>
                        On the right, is the scheduled date.
                    </li>
                </ul>
            </div>
        </div>

        <div class="my-5">
            <h2 class="fst-italic">Published</h2>
            <div class="d-none d-md-block">
                <%= image_tag "tweet published lg.png"%>
            </div>
            <div class="d-md-none">
                <%= image_tag "tweet published sm.png", class:"col-12"%>
            </div>
            <div class="my-3">
                <ul class="text-start">
                    <li>
                        <a class="view-tweet text-decoration-none ms-auto bg-white"> View Tweet </a> → Shows you the published tweet.
                    </li>
                    <li>
                        <i class="bi bi-trash3-fill trash-can"></i> → Click it to delete the tweet.
                        <p class="opacity-75"><u>NOTE</u>: It won't delete the tweet on twitter, only on this site.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>