<div class="container">
    <h1>Introduction:</h1>
    <p>
        This is a project made by <a class="" href="">Rodriguez Bedeman Emanuel</a>
        to show my knowledge mostly about Ruby On rails and Docker.
    </p>

    <h4>
        After  <a class="" href="/sign-up">creating your account</a>
        and <a class="" href="/log-in">and log into it</a>,
    </h4>
</div>