body {
    background-color: #f5f8fa;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}

.border-dark {
    border-color: #14171A !important;
    font-weight: 600;
}

.btn-primary,
.navbar {
    background: rgb(14, 84, 176);
    background: linear-gradient(0deg, rgba(14, 84, 176, 1) 0%, rgba(10, 60, 125, 1) 100%);
}

.bi-pencil,
.bi-twitter {
    color: #1363DF;
}

.button-hover:hover {
    background: none;
    background-color: #F5F8FA !important;
    border-color: #06283D !important;
    color: #1363DF !important;
    font-weight: 600;
}

.card {
    border-color: #AAB8C2 !important;
}

.card a:hover,
a i:hover {
    text-decoration: underline;
}

.card-width {
    max-width: 53.125em;
}

.custom-anchor {
    color: #14171A;
    font-weight: 500;
    text-decoration: none;
}

.custom-border {
    height: 2.625rem !important;
}

.custom-margin {
    margin: 10rem 0 10rem;
}

.custom-padding {
    padding-bottom: 10rem;
}

.description-text {
    color: #0B0B0B;
}

.feature-card-left {
    border-radius: 0.625rem 4rem 4rem 0.625rem !important;
}

.feature-card-right {
    border-radius: 4rem 0.625rem 0.625rem 4rem !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar-brand:hover,
.navbar-brand:hover i {
    color: #FEF6E7 !important;
    /* font-size: 1.313rem; */
}

.home-icon {
    font-size: 6rem !important;
    color: linear-gradient(0deg, rgba(14, 84, 176, 1) 0%, rgba(10, 60, 125, 1) 100%);
}

li a,
.navbar-brand,
li {
    color: #e6e6e6 !important;
}

.link-hover:hover,
.btn-primary {
    color: #F5F8FA !important;
}

.link-hover:hover {
    color: #FEF6E7;
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(225, 232, 237)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.tweets-card {
    background-color: #F5F8FA !important;
}

.title-color-left {
    background-color: #004476;
    border-radius: 0.625rem 6.25rem 6.25rem 0.625rem;
    color: #FAFBFE;
    padding-right: 1.563rem;
    padding-left: 0.438rem;
    width: fit-content;
}

.title-color-right {
    background-color: #004476;
    border-radius: 6.25rem 0.625rem 0.625rem 6.25rem;
    color: #FAFBFE;
    padding-right: 0.438rem;
    padding-left: 1.563rem;
    width: fit-content;
}

.vr {
    color: #e6e6e6 !important;
}

/* Start of theme button/switch style */

.bi-lightbulb {
    font-size: 1.5rem;
    color: #000000;
}

.btn-circle.btn-sm {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 1rem;
    text-align: center;
    background-color: #fff59d;
    border: 0.063rem solid #000000;
}

.dark-switch,
#dark-button {
    position: absolute;
    right: 2.5rem;
    bottom: 5rem;
}

.form-switch .form-check-input {
    height: 1.5em;
    width: 3em;
}

.switch-input {
    opacity: 0;
    position: absolute;
}

.switch-label {
    width: 3.125rem;
    height: 1.625rem;
    background-color: #0a3c7d;
    display: flex;
    border-radius: 3.125rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
}

.ball {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 0.125rem;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.bi-moon {
    border-radius: 1rem;
    padding-left: 0.20rem;
    margin-bottom: 0.063rem;
    color: #FFFFFF;
    font-weight: bold;
    width: 1.15rem;
    height: 1.15rem;
    margin-right: 0.063rem;
    top: 50%;
}

.bi-sun {
    border-radius: 1rem;
    color: #FFFF00;
    font-weight: bold;
    width: 1.15rem;
    height: 1.15rem;
    margin-right: 0.063rem;
    margin-bottom: 0.125rem;
    top: 50%;
}

/* Theme button/switch style end */