/* @media only screen and (max-width: 991px) {
    
} */

body {
    background-color: #f5f8fa;
background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
 }

 .border-dark {
    border-color: #14171A !important;
    font-weight: 600;
 }

 .btn-primary, .navbar {
    background-color: #1363DF !important;
 }

 .bi-pencil {
    color: #47B5FF;
 }

 .bi-twitter {
    color: #47B5FF;
 }

 .buttonHover:hover {
    background-color: #F5F8FA !important;
    border-color: #06283D !important;
    color: #1363DF !important;
    font-weight: 600;
 }

 .card {
    border-color: #AAB8C2 !important;
 }

 .card a:hover {
    text-decoration: underline;
 }

 .customAnchor {
    color: #14171A;
    font-weight: 500;
    text-decoration: none;
 }
 
 .customBorder {
    height: 2.625rem !important;
 }

 .customMargin {
    margin: 10rem 0 10rem;
 }

 .customPadding {
    padding-bottom: 10rem;
 }
 
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .homeIconSize{
    font-size: 6rem !important;
 }

 .homeRule {
    border-color: #14171A;
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5rem;
    margin: 9rem auto;
    width: 30%;
 }

 li a, .navbar-brand, li {
    color: #e6e6e6 !important;
 }

 .linkHover:hover, .btn-primary {
    color: #F5F8FA !important;
 }

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(225, 232, 237)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 }

 .tweetsCard {
    background-color: #F5F8FA !important;
 }

 .vr {
    color: #e6e6e6 !important;
 }

 #createButton {
    border-radius: 0;
    width: 15%;
 }