
 body {
    background-color: #f5f8fa;
background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
 }

 hr {
    border-style: none;
    border-top-style: dotted;
    margin: 7rem auto;
    width: 25%;
 }

 .border-dark {
    border-color: #14171A !important;
 }

 .btn-primary, .navbar {
    background-color: #1363DF !important;
 }

 .card {
    border-color: #AAB8C2 !important;
 }

 .card a:hover {
    text-decoration: underline;
 }
 
 .customBorder {
    height: 2.625rem !important;
 }
 
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 li a, .navbar-brand, .footer, .bi-twitter, .vr, li .btn-primary {
    color: #F5F8FA !important;
 }

 
 #createButton {
    border-radius: 0;
    width: 15%;
 }

 #customAnchor {
    color: #14171A;
    font-weight: 500;
    text-decoration: none;
 }

 #footerText {
    color: #F5F8FA;
 }

 #twitterIcon {
    color: #1363DF !important;
 }