#dark-button {
    display: none;
}

@media only screen and (max-width: 991px) {
    .dark-switch {
        display: none !important;
    }

    #dark-button {
        display: block !important;
    }
}

.transition-effect {
    transition: background 0.2s linear;
}

body.dark-theme {
    background-color: #050505;
    color: #FEF6E7;
}

body.dark-theme .card {
    background-color: #16181C !important;
}

body.dark-theme .card-text {
    color: #FEF6E7;
}

body.dark-theme button:hover {
    background-color: #27241D;
    color: #FAEDF0;
}

body.dark-theme .navbar {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,44,49,1) 100%);
    color: #FAEDF0 !important;
}

body.dark-theme ul.nav a:hover, 
body.dark-theme .navbar-brand:hover,
body.dark-theme .navbar-brand:hover i {
    color: #007acc !important;
}

body.dark-theme .dropdown-menu {
    background-color: #625D52;
}

body.dark-theme .dropdown-item{
    color: #FAEDF0;
}

body.dark-theme textarea,
body.dark-theme textarea:focus,
body.dark-theme input,
body.dark-theme input:focus {
    background-color: #FEF6E7;
}

body.dark-theme .btn {
    background-color: #FEF6E7 !important;
    border-color: #FEF6E7 !important;
    color: #504A40;
    font-weight: bold;
}

body.dark-theme footer {
    background-color: #FEF6E7;
}

body.dark-theme footer p {
    color: #433E37;
}

/* Start of Dark-theme Switch */

body.dark-theme .ball {
    background-color: #423F3E;
}

body.dark-theme .switch-label {
    background-color: #050505;
}

body.dark-theme .btn-circle.btn-sm {
    background-color: #FEF6E7 !important;
}

body.dark-theme .bi-lightbulb {
    color: #000000;
}

/* End of Dark Switch */